@media screen and (min-width : 300px) and (max-width : 499px){

    #main-body{
        padding: 1em 0em;
    }
    .top-navbar-logo{
        width: 33%;
    }
    
    .top-navbar-location{
        width: 33%;
    }
    
    .top-navbar-search{
        width: 33%;
    }

    .top-navbar-search .search{
        justify-content: right;
        background-color: transparent;
    }

    .top-navbar-search .input{
        display: none;
    }
    .top-navbar-location p{
        display: none;
    }

    .top-navbar-icons {
        display: none;
    }

    .top-navbar-options{
        display: none;
    }

    .menu{
        width: 30%;
    }

    .navigations{
        display: none;
    }
    
    .help{
        display: none;
    }

    .main-left-container{
        display: none;
    }

    .main-right-container{
        width: 100%;
    }

    .box-2 {
        flex-direction: column;
        height: 600px;
    }

    .box-2-1{
        width: 100%;
    }

    .box-2-2{
        width: 100%;
    }
}

@media screen and (min-width : 500px) and (max-width : 699px){
    .top-navbar-logo{
        width: 20%;
    }
    
    
    .top-navbar-search{
        width: 30%;
    }

    .top-navbar-search .search{
        justify-content: left;
        background-color: transparent;
    }

    .top-navbar-search .input{
        display: none;
    }
    .top-navbar-location p{
        display: none;
    }

    .top-navbar-icons {
        width: 30%;
    }

    .top-navbar-options{
        display: none;
    }

    .menu{
        width: 30%;
    }

    .navigations{
        display: none;
    }
    
    .help{
        width: 70%;
    }

    .main-left-container{
        display: none;
    }

    .main-right-container{
        width: 100%;
    }

    .box-2 {
        flex-direction: column;
        height: 600px;
    }

    .box-2-1{
        width: 100%;
    }

    .box-2-2{
        width: 100%;
    }
}

@media screen and (min-width : 700px) and (max-width : 999px){

    #main-body{
        padding: 2em 0;
    }
    .top-navbar-search{
        width: 40%;
    }

    .top-navbar-location p{
        display: none;
    }

    .top-navbar-icons {
        width: 20%;
    }

    .top-navbar-options{
        display: none;
    }

    .menu{
        width: 10%;
    }

    .navigations{
        width: 35%;
    }
    
    .help{
        width: 50%;
    }

    .list-item .item-left span:nth-child(1){
        display: none;
    }

    .main-left-container{
        width: 25%;
    }

    .main-right-container{
        width: 74%;
    } 
}

@media screen and (min-width: 1000px) and (max-width:1100px){
    .main-left-container{
        width: 25%;
    }

    .main-right-container{
        width: 74%;
    }
}

@media screen and (min-width: 1100px) and (max-width:1200px){
    .main-left-container{
        width: 30%;
    }

    .main-right-container{
        width: 69%;
    }

    .top-navbar-location{
        width: 15%;
    }
}

@media screen and (min-width: 1000px) and (max-width : 1300px) {
    .top-navbar-search{
        width: 25%;
    }

    .top-navbar-icons {
        width: 12%;
    }

    .top-navbar-options{
        width: 30%;
    }

    .help{
        width: 40%;
    }

}


@media screen and (max-width:800px){
    .w-800-d-none{
        display: none;
    }

}

@media screen and (max-width:900px){
    .w-900-d-none{
        display: none;
    }

}

@media screen and (max-width:1000px){
    .w-1000-d-none{
        display: none;
    }

}

@media screen and (max-width:1200px){
    .w-1200-d-none{
        display: none;
    }

}